.header-section{
    background-color: lightcoral;
    display: flex;
    height: 15vh;
}
.logo{
    height: 100%;
    width: 30vw;
    background: white;
    border-radius: 20px;
    text-align: center;
    font-size: 2.6rem;
    box-sizing: border-box;
}
@media (max-width: 767px) {
    /* Styles for mobile devices */
    
    .header-section {
        font-size: medium;
        /* width: 100%; */
        flex-direction: column;
    }
    .logo {
        width: 100%;
        margin-bottom: 3vh;
    }
}
#whatsapp{
    width: 40px;
    height: 40px;
}
